<h1>カテゴリ別急上昇ランキング</h1>
<%= form_with url: videos_path, method: :get, local: true do %>
  <label for="category_id">カテゴリを選択</label>
  <select name="category_id" id="category_id">
    <option value="0">すべて</option>
    <option value="1">映画</option>
    <option value="10">音楽</option>
    <option value="17">スポーツ</option>
    <option value="20">ゲーム</option>
    <option value="25">ニュース</option>
    <option value="23">コメディ</option>
    <option value="27">教育</option>
    <option value="28">科学&技術</option>
    <option value="99">VTuber関連</option> <!-- VTuber関連のカテゴリ -->
  </select>
  <button type="submit">表示</button>
<% end %>

<ul>
  <% @videos.each do |video| %>
    <li>
      <h2><%= link_to video.title, video.youtube_url, target: "_blank" %></h2>
      <%= link_to image_tag(video.thumbnail_url, alt: "#{video.title}のサムネイル"), video.youtube_url, target: "_blank" %>
      <p>チャンネル: <%= video.channel_name %></p>
      <p>再生回数: <%= video.view_count %>回</p>
      <p>投稿日: <%= video.published_at.strftime("%Y年%m月%d日 %H:%M") if video.published_at.present? %></p> <!-- 追加 -->
    </li>
  <% end %>
</ul>

